/* Tailwind CSS Framework */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos Personalizados */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFF;
}

.ellipse-background {
  position: absolute;
  width: 740.2px;  
  height: 572.75px;
  right: 0;         
  top: 0;           
  background: url('./imgs/mancha.png') no-repeat right top;
  background-size: cover; 
  z-index: -1; 
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
